div {
  border: 1px solid #464646;
}

.app-main-box {
  display: flex;
  flex-direction: column;
}

  .title-box {
      text-align: center;
  }

  .main-box {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }

      .left-box {
          display: flex;
          flex-direction: column;
          width: 13%;
      }

      .center-box {
          display: flex;
          flex-direction: column;
          width: 65%;
      }

          .options-bar-list {
              display: flex;
              flex-direction: row;
              justify-content: space-around;
          }

      .right-box {
          display: flex;
          flex-direction: column;
          width: 13%;
      }

          .login-box {
              display: flex;
              flex-direction: column;
          }

              #login-failed-message {
                  color: red;
                  background-color: rgba(255, 122, 122, 0.5);
                  font-weight: bold;
                  text-align: center;
                  visibility: hidden;
              }